<div class="bg p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="pl-4 py-1 alert-dark text-uppercase">How to create memes..!</h3>
                
                <ul class="list-group list">
                    <li class="list-group-item"><b>Step-1 :</b> Select An Image</li>
                    <li class="list-group-item"><b>Step-2 :</b> Type same text on Top</li>
                    <li class="list-group-item"><b>Step-3 :</b> Type same text on Bottom</li>
                    <li class="list-group-item"><b>Step-4 :</b> Simple Copy & Paste Emoji</li>
                    <li class="list-group-item"><b>Step-5 :</b> Select text color</li>
                    <li class="list-group-item"><b>Step-6 :</b> Select Background color</li>
                    <li class="list-group-item"><b>Step-7 :</b> Download Image</li>
                </ul>
                <br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 img">
                <img src="./assets/memeImg.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<br>