<div class="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                
                <div class="card drop-shadow">
                    <div class="card-body">
                        
                        <form action="">
                            <!-- Select Image -->
                            <div class="form-group">
                                <label for="">Select an Image</label>
                                <input 
                                    type="file" 
                                    class="form-control" 
                                    accept="image/*"
                                    (change)="preview($event)"
                                    >
                                
                            </div>
                            <!-- Select Image End -->

                            <!-- Top Text -->
                            <div class="form-group">
                                <label for="">Top Text</label>
                                <input  
                                    [(ngModel)]="topText"
                                    type="text"  
                                    class="form-control" 
                                    name="topText"
                                    (keyup)='drawText()'
                                    placeholder="Type same text here..."
                                    >
                            </div>
                            <!-- Top Text End -->

                            <!-- Bottom Text -->
                            <div class="form-group">
                                <label for="">Bottom Text</label>
                                <input 
                                    [(ngModel)]="bottomText"
                                    type="text" 
                                    class="form-control" 
                                    name="bottomText"
                                    (keyup)='drawText()'
                                    placeholder="Type same text here..."
                                    >  
                            </div>
                            <!-- Bottom Text End -->


                           <div class="row">
                               <div class="col-md-12 col-lg-6">
                                   <div class="form-group">
                                       <label>Text Color</label>
                                       <div class="bg">
                                        <color-chrome (onChangeComplete)='canvasTextColor($event)'></color-chrome>
                                       </div>
                                   </div>
                               </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label>Background Color</label>
                                        <div class="bg">
                                            <color-chrome (onChangeComplete)='canvasBgColor($event)'></color-chrome>
                                        </div>
                                    </div>
                                </div>
                           </div>
                           
                           <button 
                            class="btn btn-success btn-block mt-5"
                            (click)='downloadImg()'
                            >
                            Download</button>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <canvas 
                    class="drop-shadow" 
                    #memeCanvas 
                    width="700"
                    height="800"
                    >
                </canvas>
            </div>
        </div>
        <br>
    </div>
</div>